[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
