.single {
    .single-title {
        font-size: 2.2rem;
    }

    .single-subtitle {
        font-size: 1.5rem;
    }
}

.summary {
    .single-title {
        font-size: 2.5rem; // 调整首页文章列表标题大小
    }
}

.home.posts .summary .single-title {
    font-size: 1.5rem !important;
}

.content {

    >h1,
    >h2 {
        font-size: 1.8em; // 增大文章内容中的一二级标题
    }

    >h3 {
        font-size: 1.5em; // 增大文章内容中的三级标题
    }

    >h4 {
        font-size: 1.2em; // 增大文章内容中的四级标题
    }
}